/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2020, 3:25:29 AM
    Author     : Brigitte
*/

           body {
                background-color: #FAFAFA;
            }

            .container {
                display: grid;
                grid-template-columns: 20px 1fr 800px 1fr 20px;
                grid-template-rows: 700px 400px 600px 550px 550px 150px;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                margin-top: 60px;
            }
            .header {
                z-index: 100;
                position: absolute;
                width: 100%;
            }
            .heroImage{
                background-image: url(https://theme.zdassets.com/theme_assets/717666/7fa4a3dc48378d933aef49e5031d91d0f50827be.jpg);
                background-size: cover;
                background-position: center;
                grid-column-start: 1;
                grid-column-end: auto;
                grid-row-start: 1;
                grid-row-end: 1;
                width: 100%;
                height: 100%;
                position: absolute;
                background-position: center;
            }

            .container #slogan {
                grid-column-start: 3;
                grid-column-end: auto;
                grid-row-start: 1;
                grid-row-end: auto;
                text-align: center;
                text-shadow: 4px 4px #000000;
                font-size: 65px !important;
                font-family: 'Coda Caption', sans-serif !important;
                margin: 250px 0px 0px 0px;
                z-index: 10;
                font-size: 3em;
                color: #FFFFFF; 
                align-items: center;
                display: block;
            }
            
            
            #p1 {
                font-family: 'marshallamp', sans-serif !important;
                letter-spacing: 5px;          
                text-shadow: 2px 2px 6px #231F20;
                text-align: center;
                font-size: 50px !important;
                font-weight: 600;
                z-index: 10;
                font-size: 3em;
                color: #FFFFFF; 
                margin: 0px !important;
            }
            
            #p1-1{
                font-size: 25px;
                font-family: 'Open Sans Condensed', sans-serif;
                text-align: left;
                display: block;
            }
            
            .name {
                height: 65px;
                
            }
            
            .name img {
                width: 9em;
                height: 3em;   
                margin-top: 1em;
                text-align: center;
                margin-left: 12em;
                margin-right: -8em;
                float: left;
            }
            
            .container #text1 {
                grid-column-start: 3;
                grid-column-end: auto;
                grid-row-start: 2;
                grid-row-end: auto;
            }

            .image1{
                background-image: url('../img/about2.jpg');
                background-size: cover;
                grid-column-start: 1;
                grid-column-end: auto;
                grid-row-start: 3;
                grid-row-end: 3;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                margin-top: 50px;
            }
            
              .container #about {
                grid-column-start: 3;
                grid-column-end: auto;
                grid-row-start: 3;
                grid-row-end: auto;
                text-align: center;
                font-size: 65px !important;
                font-family: 'marshallamp', sans-serif !important;
                margin: 200px 0px 0px 0px;
                z-index: 1;
                font-size: 3em;
                color: #231F20; 
                align-items: center;
                display: block;
            }
            
            .HanwellImg {
                margin-top: 25px;
                background-image: url('../img/hanwell.jpg');
                background-size: cover;
                background-position: center;
                grid-column-start: 1;
                grid-column-end: 6;
                grid-row-start: 4;
                grid-row-end: 4;              
                width: 50%;
                height: 100%;
            }
            
            .p2 {
                background-color: #ECEEED;
                grid-column-start: 1;
                grid-column-end: 6;
                grid-row-start: 4;
                grid-row-end: 4;
                width: 50%;
                height: 100%;
                position: absolute;
                right: 0px;
                margin-top: 25px;
                font-family: 'Open Sans Condensed', sans-serif;
                text-align: left;        
            }
            
            .p3 {
                background-color: #ECEEED;
                grid-column-start: 1;
                grid-column-end: 6;
                grid-row-start: 5;
                grid-row-end: 5; 
                width: 50%;
                height: 100%;
                font-family: 'Open Sans Condensed', sans-serif;
                text-align: left;
            }
            
            .p2 p, .p3 p { 
                margin-left: 20px;
                margin-right: 20px;  
                margin-top: 50px;
            }
                       
            .one, .two {
                margin-top: 120px;
                font-size: 25px;
            }
            
            
            .amp {
                background-image: url(../img/amp.jpg);
                background-size: cover;
                background-position: 400px -150px;
                background-repeat: no-repeat;
                grid-column-start: 1;
                grid-column-end: 6;
                grid-row-start: 5;
                s:visited {
                    padding: 10px 10px 15px 10px;
                } 
            }

            footer {
                grid-column-start: 1;
                grid-column-end: 6;
                grid-row-start: 6;
                grid-row-end: 6;
                width: 100%;
                position: absolute;
                bottom: 0px;
            }

            /* adding the marshall font here */
            @font-face {
                font-family: 'marshallamp';
                src: url(img/Amplifyfont.ttf);
            }


            @media screen and (max-width: 740px) {    
                nav a:link, nav a:visited {
                    padding: 10px 5px 15px 5px;

                } 
            }

            @media screen and (max-width: 700px) {    
                nav a:link, nav a:visited {
                    padding: 10px 5px 15px 5px;
                } 
            }
            
            
