* {
	box-sizing: border-box;
}

#page-container {
	position: relative;
	min-height: 100vh;
  }
  
  #content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;            /* Footer height */
  }

body {
	font-family: 'Fjalla One', sans-serif;
	line-height: 1.6;
	margin: 0px;
	min-height: 100vh;
	background-color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li a {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	text-decoration: none;
	font-size: 1.4em;
}
/* adding the marshall font here */
@font-face {
	font-family: 'marshallamp';
	src: url(img/Amplifyfont.ttf);
}

.header .logo a {
	margin: 0;
	font-size: 1.9em;
	text-decoration: none;
	color:white;
	font-family: 'marshallamp';
	text-transform: none;
	font-weight: 150;
}

.main-nav {
	margin-top: 5px;
}

.logo a, .main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

 .main-nav a {
	color: white;
	font-size: 1.5em;
}

.header .logo a:hover{
	color: goldenrod;
	transition: .8s;
}

.main-nav a:hover {
    color: goldenrod;
    transition: .8s;
}

/* underline hover thing */
li a:after {
	bottom: 1;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: relative;
	background: goldenrod;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
  }
  
li a:hover:after {
	width: 100%; 
	left: 0; 
}

.header {

	padding-top: .3em;
	padding-bottom: .3em;	
	background-color: black;
	/* -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; */
}


/*Media Queries*/

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
        align-items: center;
    }
    	.header{
		width: 100%;
		margin: 0 auto;
		max-width: 1150px;
	}
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
